body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #293449;
}

.visually-hidden {
  visibility: hidden;
}

.site-navigation,
.user-navigation,
.user-authorization,
.contacts {
  list-style: none;
}

.user-navigation a,
.button-order {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.user-authorization a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #212a3a;
}

.user-navigation a:active {
  background-color: #161d29;
  color: #8b8e94;
}

.user-authorization a:hover,
.user-authorization a:focus {
  color: #ee3643;
}

.user-authorization a:active {
  color: #000000;
  opacity: 0.5;
}

.button-order,
.button-buy {
  background-color: #63a63e;
}

.button-order:hover,
.button-buy:hover,
.button-order:focus,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-order:active,
.button-buy:active {
  background-color: #518534;
  color: #8b8e94;
}

.site-navigation,
.navigation-promo {
  background-color: #32425c;
}

.site-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #161d29;
  color: #1d2739;
}

.header-middle {
  background-color: #f3f7f9;
}

.intro {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.button-red,
.button-buy,
.button-mark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.button-red {
  background-color: #ee3643;
}

.button-continue {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff
}

.promo-list {
  list-style: none;
}

.promo-list p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.promo-item:first-child,
.promo-item:nth-child(5) {
  background-color: #ffc047;
}

.promo-item:nth-child(2) {
  background-color: #3bbce3;
}

.promo-item:nth-child(3) {
  background-color: #dc91d8;
}

.promo-item:nth-child(4) {
  background-color: #8ed78f;
}

.promo-item .button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.1;
}

.promo-item .button:hover,
.promo-item .button:focus {
  background-color: #000000;
  opacity: 0.2;
}

.promo-item .button:active {
  background-color: #000000;
  opacity: 0.3;
}

.main-header-logo {
  background-color: #ee3643;
}

.slide h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slides p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #000000;
}

.slide a {
  background-color: #ee3643;
}

.slide a:hover {
  background-color: #ca2c37;
}

.slide a:focus {
  background-color: #ba2732;
}

.popular h2,
.popular-labels h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
.tools-item h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.tools-item,
.brand-items {
  list-style: none;
  border: 1px solid #e5e5e5;
}

.tools-item:hover,
.brand-items:hover,
.tools-item:focus,
.brand-items:focus {
  box-shadow: 10px 10px 25px #293449;
}

.brand-item:active {
  box-shadow: 10px 10px 25px #293449;
  opacity: 1;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
.button-mark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-mark:hover,
.button-mark:focus {
  border: 3px solid #32425c;
}

.button-mark:active {
  opacity: 0.3;
}

.slider-services h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.slider-services h3:hover,
.slider-services h3:focus {
  background-color: #293449;
}

.slider-services h3:active {
  color: #32425c;
  background-color: #ffffff;
}

.services h2,
.about-company h2,
.contacts h2,
.additional-info h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.logistic-items {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.navigation-list {
  list-style: none;
}

.footer-navigation a,
.contact-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-list a {
  color: #ffd180;
}

.promo-list a:hover,
.footer-navigation a:hover {
  text-decoration: underline;
}

.promo-list a:active,
.footer-navigation a:active {
  opacity: 0.5;
}

.copyright-social {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.contact-list {
  background-color: #32425c;
}

.social-item {
  list-style: none;
  background-color: #212a3a;
}

.social-item a:hover,
.social-item a:active {
  background-color: #ee3643;
}

.developed a,
.feedback a {
  color: #ffd180;
}

.developed a:hover,
.feedback a:hover {
  text-decoration: underline;
}

.developed a:active,
.feedback a:active {
  color: #ee3643;
}

.feedback-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-feedback,
.modal {
  box-shadow: 10px 10px 25px #293449;
}

.container h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.personal-orders a,
.personal-account a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-bio a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-bio a:active {
  opacity: 1;
}

.breadcrumbs {
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.by-property,
.control-buttons {
  list-style: none;
}

.sorting h2,
.filter-form h2,
.by-property a {
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-item a {
  line-height: auto;
  opacity: 0.3;
  border-bottom: 1px dotted #ee3643;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item a:active {
  color: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  line-height: 18px;
  border: 1px solid #00000;
}

.pagination-item:last-child {
  text-transform: uppercase;
}

.pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
}

.producers,
.by-supply {
  list-style: none;
}

legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.notification p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

/* ----- Сеточные стили ----- */
.main-header {
  margin-bottom: 60px;

  /* Временно для сетки */
  min-height: 320px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
 /* Временно для сетки */
 min-height: 320px;

}


.top-navigation-wrapper {
  width: 100%;
  background-color: #293449;


  /* Временно для сетки */
  min-height: 42px;
}

.container-top {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-navigation-wrapper .container-top {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  width: 220px;
  height: 47px;
}

.search {
  width: 170px;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 42px;
}

.user-navigation {
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 42px;
}

.button-order {
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 42px;
}

.header-middle-wrapper {
  width: 100%;
  /* Временно для сетки */
  min-height: 160px;
}

.container-middle {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-middle-wrapper .container-middle {
  display: flex;
  justify-content: space-between;
}

.intro {
  width: 220px;
  margin: 0;
  padding: 0;


  /* Временно для сетки */
  min-height: 75px;
}

.contacts {
  width: 270px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 70px;

}

.user-authorization {
  width: 285px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 45px;
}

.header-bottom-wrapper {
  width: 100%;
  /* Временно для сетки */
  min-height: 60px;
}

.container-bottom {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-bottom-wrapper .container-bottom {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 940px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo-wrapper {
  display: flex;
  flex-direction: row;
  width: 940px;

  /* Временно для сетки */
  min-height: 410px;
}

.promo-list {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin-bottom: 20px;
}

.promo-item {
  width: 300px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.list-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 940px;
  margin-bottom: 20px;
}

.popular {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 940px;
  margin-bottom: 25px;

}

.tools-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 320px;
}

.tools-item {
  width: 220px;
  /* Временно для сетки */
  min-height: 320px;
}
.brand-container {
  width: 940px;

  /* Временно для сетки */
  min-height: 310px;
}

.popular-brands {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 0;

  list-style: none;
  width: 940px;

  /* Временно для сетки */
  min-height: 310px;
}

.brand-items {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 10px;

  /* Временно для сетки */
  min-height: 140px;
}

.about-contacts {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 10px 20px;
}

.about-company {
  width: 540px;
 /* Временно для сетки */

}

.contacts {
  width: 300px;
 /* Временно для сетки */

}

.main-footer {
   margin-top: 85px;

   /* Временно для сетки */
   background: none;
   min-height: 115px;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;

  width: 100%;
  background-color: #32425c;
}

.container-logo-contacts {
  width: 380px;
  margin-left: 130px;
  margin-bottom: 0;
  padding: 0 10px;
}

.navigation-promo {
  width: 560px;
  margin-right: 120px;
}

.copyright-wrapper {
  display: flex;
  flex-direction: row;
}


.copyright {
  width: 240px;
}
.social {
  width: 140px;

}

.feedback-developed {
  width: 300px;

}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  /* Временно для сетки */
  min-height: 35px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  /* Временно для сетки */
  min-height: 24px;
}

.filter-form {
  width: 220px;

  /* Временно для сетки */
  min-height: 746px;
}

.tools {
  width: 700px;
  min-height: 720px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.tools-item {
  width: 220px;
  margin-bottom: 25px;
  margin-right: 10px;

  /* Временно для сетки */
  min-height: 320px;
}

.tools-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;

  list-style: none;
}

.tools-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 47px;
}
